<div class="row justify-content-center">
  <div class="col-6">
    <h1>Add new product</h1>
    <div class="border rounded bg-white p-4">
      <%= render 'form', product: @product%>
    </div>
  </div>
</div>
